## Intermediate Data Science

#### University of Redlands - DATA 201
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data201.joannabieri.com](https://joannabieri.com/data201_intermediate.html)

## Computer Set Up

In [ ]:
!python --version

In [ ]:
!conda --version

In [ ]:
!git --version

**Clone the Repo for our Class**

<a href="https://github.com/Redlands-DATA201/FALL25" target="_blank">Redlands-DATA201/FALL2025</a>

In [6]:
# # Depending on your setup you might need to install modules
# !conda install -y numpy
# !conda install -y pandas
# !conda install -y matplotlib
# !conda install -y plotly

In [20]:
# Some basic package imports
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

# Review of DATA 101

For our review we are going to jump in and do some Exploratory Data Analysis (EDA) on a data set that we have seen before. This time you are just given a .csv file and your goal is to analyze it - answering these questions.

**I expect this to feel impossible at first!!!** but if you all work together, share code, and look things up as needed, I know you can do it!

#### This was a Homework Assignment in Data 101 - but see how much you can figure out on your own!

* Answer the following questions using reproducible Python code.
    - What does it mean to be reproducible? This means someone else at any time in the future can run and understand your code almost like reading a blog post.
* For each question, state your answer in a sentence, e.g. "In this sample, the first three common names of purchasers are ...".
* Note that the answers to all questions are within the context of this particular sample of sales, i.e. you shouldn't make inferences about the population of all Lego sales based on this sample.

0.  Read in the .csv file using Pandas and display it

1.  Describe what you see in the data set (variables, observations, etc)

2.  What are the three most common first names of purchasers?

3.  What are the three most common themes of Lego sets purchased?

4.  Among the most common theme of Lego sets purchased, what is the most common subtheme?

5.  Create data frames for each of the ages in the following categories: "18 and under", "19 - 25", "26 - 35", "36 - 50", "51 and over". HINT - use masks

6.  Which age group has purchased the highest number of Lego sets.

7.  Which age group has spent the most money on Legos?

8.  Which Lego theme has made the most money for Lego?

9.  Which area code has spent the most money on Legos? In the US the area code is the first 3 digits of a phone number. Then using a for loop calculate the average money spent per customer for each area code.

10.  Come up with a question you want to answer using these data, and write it down. Then, create a data visualization that answers the question, and explain how your visualization answers the question.

**This exersize comes from: https://datasciencebox.org/course-materials/hw-instructions/hw-05/hw-05-legos**

In [30]:
file_path = 'C:/Users/ambsc/Downloads/DATA201/FALL25/notebooks/Day1/data/lego-sales.csv'

df = pd.read_csv(file_path)
df

,first_name,last_name,age,phone_number,set_id,number,theme,subtheme,year,name,pieces,us_price,image_url,quantity
0,Kimberly,Beckstead,24,216-555-2549,24701,76062,DC Comics Super Heroes,Mighty Micros,2018,Robin vs. Bane,77.0,9.99,http://images.brickset.com/sets/images/76062-1...,1
1,Neel,Garvin,35,819-555-3189,25626,70595,Ninjago,Rise of the Villains,2018,Ultra Stealth Raider,1093.0,119.99,http://images.brickset.com/sets/images/70595-1...,1
2,Neel,Garvin,35,819-555-3189,24665,21031,Architecture,NaN,2018,Burj Khalifa,333.0,39.99,http://images.brickset.com/sets/images/21031-1...,1
3,Chelsea,Bouchard,41,NaN,24695,31048,Creator,NaN,2018,Lakeside Lodge,368.0,29.99,http://images.brickset.com/sets/images/31048-1...,1
4,Chelsea,Bouchard,41,NaN,25626,70595,Ninjago,Rise of the Villains,2018,Ultra Stealth Raider,1093.0,119.99,http://images.brickset.com/sets/images/70595-1...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,Talise,Nieukirk,16,801-555-2343,24902,41556,Mixels,Series 7,2018,Tiketz,62.0,4.99,http://images.brickset.com/sets/images/41556-1...,2
616,Spencer,Morgan,28,784-555-3455,26041,41580,Mixels,Series 9,2018,Myke,63.0,4.99,NaN,2
617,Spencer,Morgan,28,784-555-3455,26060,5005051,Gear,Digital Media,2018,Friends of Heartlake City Girlz 4 Life,NaN,19.99,NaN,1
618,Amelia,Hageman,40,336-555-1950,24702,76063,DC Comics Super Heroes,Mighty Micros,2018,The Flash vs. Captain Cold,88.0,9.99,http://images.brickset.com/sets/images/76063-1...,2
619,Amelia,Hageman,40,336-555-1950,24720,10830,Duplo,NaN,2018,Minnie's Café,27.0,19.99,http://images.brickset.com/sets/images/10830-1...,4

Q1. Variables I can observe in the csv data are first_name, last_name, age, phone_number, set_id, number, theme, subtheme, year, name, pieces, and us_price. I would imagine this is a data set of purchasers of lego products. first and last name, phone number, age, would correspond to the purchasers. The rest of the information corresponds to the set they produced, the number of pieces, the theme of the set, the name of the set, and the price of the set.

In [56]:
top_three_names = name_counts.head(3)
print(top_three_names)

first_name
Jackson    13
Joseph     11
Jacob      11
Name: count, dtype: int64

Q2. The most common names of purchasers are Jackson coming in at 13, Joseph coming in at 11, and Jacon also coming in at 11.

In [57]:
top_three_themes = theme_counts.head(3)
print(top_three_themes)

theme
Star Wars       75
Nexo Knights    64
Gear            55
Name: count, dtype: int64

Q3. The three most common themes of lego sets purchased are Star Wars at 75 purchases, Nexo Knights at 64 purchases, and Gearat 55 purchases

In [60]:
top_theme = df['theme'].value_counts().idxmax()
most_common_subtheme = df[df['theme'] == top_theme]['subtheme'].value_counts().idxmax()
print(most_common_subtheme)

The Force Awakens

Q4. The most common subtheme in the most common theme of Star Wars is The Force Awakens

In [63]:
#Question 5
df_18_under = df[df['age'] <= 18]

df_19_25 = df[(df['age'] >= 19) & (df['age'] <= 25)]

df_26_35 = df[(df['age'] >= 26) & (df['age'] <= 35)]

df_36_50 = df[(df['age'] >= 36) & (df['age'] <= 50)]

df_51_over = df[df['age'] >= 51]

print(len(df_18_under), len(df_19_25), len(df_26_35), len(df_36_50), len(df_51_over))

30 129 183 216 62

In [65]:
quantity_sums = {
    '18 and under': df_18_under['quantity'].sum(),
    '19-25': df_19_25['quantity'].sum(),
    '26-35': df_26_35['quantity'].sum(),
    '36-50': df_36_50['quantity'].sum(),
    '51 and over': df_51_over['quantity'].sum()
}

max_quantity_group = max(quantity_sums, key=quantity_sums.get)
print("Q6. Age group with most sets purchased:", max_quantity_group)

Q6. Age group with most sets purchased: 36-50

In [69]:
spending_sums = {
    '18 and under': (df_18_under['quantity'] * df_18_under['us_price']).sum(),
    '19-25': (df_19_25['quantity'] * df_19_25['us_price']).sum(),
    '26-35': (df_26_35['quantity'] * df_26_35['us_price']).sum(),
    '36-50': (df_36_50['quantity'] * df_36_50['us_price']).sum(),
    '51 and over': (df_51_over['quantity'] * df_51_over['us_price']).sum()
}

max_spending_group = max(spending_sums, key=spending_sums.get)
print("Q7. Age group that spent the most:", max_spending_group)

Q7. Age group that spent the most: 36-50

In [71]:
df['total_spent'] = df['quantity'] * df['us_price']
theme_revenue = df.groupby('theme')['total_spent'].sum()

top_theme = theme_revenue.idxmax()
top_revenue = theme_revenue.max()

print("Q8. Theme that made the most money:", top_theme)
print("Total revenue for this theme: $", top_revenue)

Q8. Theme that made the most money: Star Wars
Total revenue for this theme: $ 4447.83

In [74]:
df['area_code'] = df['phone_number'].str[:3]
df['total_spent'] = df['quantity'] * df['us_price']
area_code_revenue = df.groupby('area_code')['total_spent'].sum()

top_area_code = area_code_revenue.idxmax()
top_revenue = area_code_revenue.max()
print("Q9. Area code that spent the most:", top_area_code)
print("Total revenue for this area code: $", top_revenue)

avg_spent_per_area = {}
for code in df['area_code'].unique():
    total_spent = df[df['area_code'] == code]['total_spent'].sum()
    num_customers = df[df['area_code'] == code]['first_name'].nunique()  # count unique customers
    avg_spent_per_area[code] = total_spent / num_customers

Q9. Area code that spent the most: 956
Total revenue for this area code: $ 719.96

C:\Users\ambsc\AppData\Local\Temp\ipykernel_4744\3754779813.py:14: RuntimeWarning:

invalid value encountered in scalar divide

In [81]:
#Q10. Which theme of lego does each age group prefer?

def most_common_theme(df_group):
    return df_group['theme'].value_counts().idxmax()

age_groups = {
    '18 and under': df_18_under,
    '19-25': df_19_25,
    '26-35': df_26_35,
    '36-50': df_36_50,
    '51 and over': df_51_over
}
for age_group, df_group in age_groups.items():
    top_theme = most_common_theme(df_group)
    print(f"For the {age_group} age group, they purchase more '{top_theme}' sets.")

For the 18 and under age group, they purchase more 'Mixels' sets.
For the 19-25 age group, they purchase more 'Nexo Knights' sets.
For the 26-35 age group, they purchase more 'Star Wars' sets.
For the 36-50 age group, they purchase more 'Star Wars' sets.
For the 51 and over age group, they purchase more 'Star Wars' sets.

Q10. This visualization asks what the most common theme for each age group is. This answers that question by showing the age groups and then showing their most popular theme that they purchase. Star Wars is most popular for 26 and up. Nexo Knights is most popular with 19-25yr olds and 18 and under prefer Mixel sets